@model UpdateProductImageDto
@{
    ViewData["Title"] = "ProductImageDetail";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ürün Görselleri Güncelleme Sayfası</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="ProductImageId" class="form-control" />
                <input type="hidden" asp-for="ProductId" class="form-control" />

                <label>Görsel 1</label>
                <input type="text" class="form-control" asp-for="Image1" placeholder="Görsel 1 URL'si" />
                <br />

                <label>Görsel 2</label>
                <input type="text" class="form-control" asp-for="Image2" placeholder="Görsel 2 URL'si" />
                <br />

                <label>Görsel 3</label>
                <input type="text" class="form-control" asp-for="Image3" placeholder="Görsel 3 URL'si" />
                <br />

                <button class="btn btn-primary">Güncelle</button>
            </form>
        </div>
    </div>
</div>
