<div class="col-lg-5 mb-5">
    <div class="bg-light p-30 mb-30">
       
        <iframe style="width: 100%; height: 250px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d262965.6256287158!2d32.45095837954463!3d39.90322245955103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347d520732db1%3A0xbdc57b0c0842b8d!2sAnkara%2C%20T%C3%BCrkiye!5e1!3m2!1sen!2sbd!4v1727707135694!5m2!1sen!2sbd" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="bg-light p-30 mb-3">
        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i> Ankara,Türkiye</p>
        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>multishop@example.com</p>
        <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
    </div>
</div>