@model MultiShop.Images.WebUI.DAL.Entities.ImageDrive

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="alert alert-primary">Google Drive Storage Resim Yükleme Sayfası</h1>

<div class="container mb-3">

    <form method="post" enctype="multipart/form-data">
        <label>Görsel Adı</label>
        <input type="text" class="form-control border" name="Name" />
        <br />
        <label>Görsel Dosyası</label>
        <input type="file" class="form-control border" name="Photo" />
        <br />
        <input name="SavedUrl" type="hidden" class="form-control" />
        <input name="SavedFileName" type="hidden" class="form-control" />
        <button class="btn btn-outline-info">Görseli Kaydet</button>
    </form>
</div>

