@model UserDetailViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    
    <h3></h3>
    <div class="alert alert-info">Kullanıcı Id: @Model.Id </div>
    <div class="alert alert-info">Kullanıcı adı: @Model.Username </div>
    <div class="alert alert-info">Kullanıcı soyadı: @Model.Surname </div>
    <div class="alert alert-info">Kullanıcı e-posta: @Model.Email </div>


</div>