<div class="col-12 pb-1">
    <div class="d-flex align-items-center justify-content-between mb-4">
       
        <div class="ml-2">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sırala</button>
                <div class="dropdown-menu dropdown-menu-left">
                    <a class="dropdown-item" href="#">
                        Son Ürünler
                        <span style="background-color: red; color: white; border-radius: 8px; padding: 1px 5px;margin-left: 5px; vertical-align: middle;" class="fw-bold">
                            Yeni
                        </span>
                       
                    </a>

                    <a class="dropdown-item" href="#">Popüler Ürünler</a>
                    <a class="dropdown-item" href="#">En İyiler</a>
                </div>
            </div>
            <div class="btn-group ml-2">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Göster</button>
                <div class="dropdown-menu dropdown-menu-left">
                    <a class="dropdown-item" href="#">10</a>
                    <a class="dropdown-item" href="#">20</a>
                    <a class="dropdown-item" href="#">30</a>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
        </div>
    </div>
</div>
