@model UpdateProductDetailDto

<div class="tab-pane fade" id="tab-pane-2">
    <h4 class="mb-3">Ürün Bilgisi</h4>
    @if (Model == null)
    {
        <p>Ürün bilgisi mevcut değildir.</p>
    }
    else
    {
        <p>@(!string.IsNullOrEmpty(Model.ProductInfo) ? Model.ProductInfo : "Ürün bilgisi mevcut değildir.")</p>
    }
</div>
